{% extends "base.html" %}

{% block content %}

<form action="{{ url_for('files.save_settings') }}?filename={{ file.name }}&sheet={{ file.sheet }}" enctype="multipart/form-data" method="post">
    <div class="container">
        <div class="row">
          <div class="col-sm"><h2>Параметры настройки файла {{ file.name }} на странице {{ file.sheet }}</h2></div>
        </div>        
        <div class="row">
          <div class="col-sm">
            Колонка наименования
          </div>
          <div class="col-sm">
            Точность совпадения наименований
          </div>
          <div class="col-sm">
            Колонка сравнения
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <select class="form-control" name="base_col">
                {% for column in columns %}
                <option>{{ column }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" name="precision">
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <select class="form-control" name="compare_col">
                {% for column in columns %}
                <option>{{ column }}</option>
                {% endfor %}
            </select>
          </div>
        </div>
        <div class="row">
            <p></p>
            <div class="col-sm"><button type="submit" class="btn btn-primary mb-2">Сохранить настройки</button></div>
        </div>
      </div>
</form>

<table class="table">
    <thead>
      <tr>
        {% for column in columns %}
        <th scope="col">{{ column }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        {% for column in columns %}
        <td>{{ row[column] }}</td>
        {% endfor %}
      </tr>
      {% endfor %}

    </tbody>
  </table>

{% endblock %}
