{% extends "base.html" %}

{% block content %}

<a href="{{ url_for('files.file_settings') }}?filename={{ file.name }}&suffix={{ file.suffix }}" class="btn btn-outline-danger btn-sm" role="button" aria-pressed="true">Сделать настройки</a>
<a href="{{ url_for('files.anomaly_hunter') }}?filename={{ file.name }}&suffix={{ file.suffix }}" class="btn btn-outline-danger btn-sm" role="button" aria-pressed="true">Обработать</a>

<table class="table table-hover table-dark">
    <thead>
      <tr>
        {% for column in columns %}
        <th scope="col">{{ column }}</th>
        {% endfor %}        
      </tr>
    </thead>
    <tbody>
      {% for row in data %}  
      <tr>
        {% for column in columns %}        
        <td>{{ row[column] }}</td>
        {% endfor %}        
      </tr>
      {% endfor %}
      
    </tbody>
  </table>

{% endblock %}
