{% extends "base.html" %}

{% block content %}


<div class="card">
    <h5 class="card-header">Загрузите и отправте файл для обработки на сервер</h5>
    <div class="card-body">
        {{ form.hidden_tag() }}
        <form action="{{ url_for('index.index') }}" enctype="multipart/form-data" method="post">
            <div class="form-group">
                {{ form.file }}
            </div>
            <p></p>
            <button type="submit" class="btn btn-success">Отправить</button>
        </form>
    </div>
</div>
<p></p>  
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for file in file_list %}
    <div class="card" style="width:auto;">
        <div class="card-body">
          <h6 class="card-title">Документ 1С Предприятие (отчет по ОС)</h6>
          <h7 class="card-subtitle mb-2 text-muted"> Название файла - {{ file.name }}{{ file.suffix }} </h7>
          <p></p>
          <h7 class="card-subtitle mb-2 text-muted"> Дата документа - {{ file.date.strftime('%Y-%m-%d') }} </h7>
          <p></p>
          <a href="{{ url_for('files.file_card') }}?filename={{ file.name }}&suffix={{ file.suffix }}" class="btn btn-outline-danger btn-sm" role="button" aria-pressed="true">Открыть</a>
          <a href="{{ url_for('files.anomaly_hunter') }}?filename={{ file.name }}&suffix={{ file.suffix }}" class="btn btn-outline-danger btn-sm" role="button" aria-pressed="true">Обработать</a>
          <a href="/" class="btn btn-outline-danger btn-sm" role="button" aria-pressed="true">Результат поиска</a>
          <p></p>
          <a href="/" class="btn btn-outline-danger btn-sm" role="button" aria-pressed="true">Удалить</a>
        </div>
      </div>
    {% endfor %}
</div>      


{% endblock %}